#upload_assets .asset-button { display: block; margin: 1em auto; }
.corner { color: #0074a2; font-size: 1.25em; font-weight: bold; cursor: pointer; position: absolute; top: 0em; right: 0.5em; }
.corner:hover { color: #83B4D8; }
.edit { font-size: 0.85em; right: 0.85em; }
.done.button-small { top: 0.85em; }
.corner.cancel { font-size: 0.85em; right: 6em; top: 0.8em; }
.corner.trash { font-size: 0.85em; color: #a00; top: 4.25em; right: 0.85em; }
.corner.trash:hover { color: #f00 }
.asset { width: 100%; border: 1px solid #dfdfdf; padding: 1em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; list-style: none; }
.niceName input { width: 65%; }
.assets { clear: both; margin: 0.5em 0; line-height: 2em; }
#attached_assets .assetMeta { cursor: move; }
.assets input[type=number], .asset_meta select { vertical-align: middle; font-size: 0.85em; }
.assets input[type=number] { width: 4em; }
.assets li { background: white; }
.assets li .expired { text-decoration: line-through; }
.assetLink { width: 80%; }
.assetHits { position: absolute; bottom: -1px; right: -1px; font-weight: bold; font-size: 0.75em; color: #ababab; padding: 0 0.5em; border: 1px solid #dfdfdf; }

@media screen and (max-width: 782px) {
	.corner.cancel { right: 6em; top: 1em; font-size: 1em; }
}